nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2eedf;
  padding: 10px;
}

body {
  padding-bottom: 60px;
}


nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #03C6C4;
  padding: 5px 0; 
}

nav a:hover {
  text-decoration: underline; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
}

@media (max-width: 768px) {
  .container div, form {
      flex: 1 0 100%; 
      margin: 10px 0;
  }

  nav a {
      padding: 10px;
      margin: 0 5px; 
  }
}

img {
  height: auto;
  margin-top: 100px; 
  margin-bottom: 30px;
}

.container div,
form {
  flex: 1;
  margin: 0 10px;
}

.submit-btn {
  display: block;
  background-color: #03C6C4;
  color: #FAFAF8;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #02A5A3;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f2eedf;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  text-align: center;
  color: #333;
  font-size: 20px;
}

.destination-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.destination-btn {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.destination {
  padding-top: 20px;
}

.update-btn {
  background-color: #FFA07A;
}

.delete-btn {
  background-color: #FF6347;
}

.destination-btn:hover {
  opacity: 0.8;
}
